div(class="todo-new")
  todo-formatted(todo="{{value}}")
  input(type="text" placeholder="New Todo")&attributes({"[(ngModel)]": "value"} )
  i(class="material-icons action-icon")&attributes({"(click)": "add()"}) add_box

