<md-list-item class="todo-item" ng-class="{ completed: vm.item.completed() }" ng-class-odd="">
    <p>
    <span ng-repeat="token in vm.item.tokens()" style="white-space-treatment: collapsed">
        <span ng-switch="token.typeString()">
            <span ng-switch-when="text" ng-class="token.typeString()">{{ token.text }}</span>
            <span ng-switch-when="createDate" ng-class="token.typeString()">{{ token.text }}</span>
            <span ng-switch-when="completed" ng-class="token.typeString()">{{ token.text }}</span>
            <span ng-switch-when="priority" ng-class="token.typeString()">
                <span class="symbol">(</span><span class="text">{{ token.text }}</span><span class="symbol">)</span>
            </span>
            <span ng-switch-when="context" ng-class="token.typeString()">
                <span class="symbol">@</span><span class="text">{{ token.text }}</span>
            </span>
            <span ng-switch-when="project" ng-class="token.typeString()">
                <span class="symbol">+</span><span class="text">{{ token.text }}</span>
            </span>
            <span ng-switch-when="metadata">
                <span ng-switch="token.id">
                    <span ng-switch-when="http" ng-class="token.id" class="url">
                        <a href="{{ token.id + ':' + token.text }}" target="_top">An http Link</a>
                    </span>
                    <span ng-switch-when="https" ng-class="token.id" class="url">
                        <a href="{{ token.id + ':' + token.text }}" target="_top">An https Link</a>
                    </span>
                    <span ng-switch-when="ftp" ng-class="token.id" class="url">
                        <a href="{{ token.id + ':' + token.text }}" target="_top">An ftp Link</a>
                    </span>
                    <span ng-switch-when="due" ng-class="token.typeString()" class="due">
                        <span class="key">{{ token.id }}:</span>
                        <span class="value">{{ token.text }}</span>
                    </span>
                    <span ng-switch-default ng-class="token.typeString()" >
                        <span class="key">{{ token.id }}:</span>
                        <span class="value">{{ token.text }}</span>
                    </span>
                </span>
            </span>
        </span>
    </span>
    </p>
    <md-divider ng-if="!$last"></md-divider>
</md-list-item>
