div(class="sidebar")
  section
    h1 Contexts
    span&attributes({'class':'context', '*ngFor': "#item of contexts"})
      i(class="material-icons") place
      | {{ item }}
  section
    h1 Projects
    span&attributes({'class':'project', '*ngFor': "#item of projects"})
      i(class="material-icons") folder
      | {{ item }}
