@charset "utf-8";

body
{
    background-color: ivory;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}

.splash
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
}

.splash p
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    font-family: fantasy;
    font-variant: small-caps;
}

.splash p:before
{
    content: "... ";
}

.splash p:after
{
    content: " ...";
}

footer
{
    margin-top: 5px;
    font-size: 0.6em;
    text-align: center;
}

/*****************************************************
 * Toolbar
 *****************************************************/

form
{
    margin: 0;
}

.toolbar
{
    float: right;
    position: absolute;
    top: 5px;
    right: 40px;
    display: block;
    width: 100%;
}

.menu
{
    float: right;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: sans-serif;
}

.menuItem a
{
    float: right;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    width: 100px;
    height: 20px;

    background-color: #FFCC00;
    border-style: solid;
    border-color: #FF9900;
    border-width: thin;

    text-align: center;
    vertical-align: middle;
    color: black;
    text-decoration: none;

    position: relative;
}

.menuItem a:hover
{
    background-color: #FF9900;
    color: blue;
}

.menuItem.selected a
{
    background-color: #FF9900;
    height: 25px;
    z-index: 5001;
}

.lastUpdated
{
    display: block;
    float: right;
    position: absolute;
    top: 30px;
    right: 10px;
}

.toolBox
{
    float: right;
    position: absolute;
    z-index: 5000;
    top: 26px;
    right: 2px;
    width: 40%;
    background-color: #FF9900;
    padding: 3px;
    display: none;
}

.toolBox > textarea
{
    display: block;
    height: 300px;
    width: 100%;
}

.toolBox > span
{
    clear: both;
}

.toolBoxFooter
{
    text-align: right;
    font-size: smaller;
}

.warning
{
    background: #8b0000;
    color: white;
}

.tip
{
    font-size: smaller;
    font-style: italic;
}

/*******************************************************
 * Add
 ******************************************************/

.addTodo
{
    border: 1px solid silver;
    border-radius: 5px;

    padding: 5px;

    background-color: #EDEF85;
}

.addTodo input
{
    width: 600px;
}

/*******************************************************
* Filters
******************************************************/

.filters
{
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 5px;

    padding: 5px;

    background-color: #E1E1FF;
}

.filters > div
{
    display: inline-block;
}

.filters label
{
    font-weight: bold;
}

.quickFilter
{
    margin-left: 100px;
}

.quickFilter > label:after
{
    content: ": ";
}

.quickFilter > input
{
    width: 300px;
}

.clearFilters
{
    display: inline-block;
    vertical-align: text-bottom;
}

.clearFilters a
{
    display: table;
    background-color: silver;
    height: 0.8em;
    width: 1.2em;
    color: black;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

.clearFilters a:hover
{
    color: red;
}

/*******************************************************
* Todos
******************************************************/
.display
{

}

.edit
{
    width: 100%;
    display: none;
}

.edit input
{
    width: 80%;
    font-size: inherit;
    margin-left: 25px;
}

.edit .tip
{
    font-size: 0.6em;
    float: right;
}

.todos
{
    margin-top: 5px;
    padding: 5px;
    border: ridge thin silver;
    border-radius: 5px;
    font-size: 1.5em;
}

.index
{
    display: none;
    width: 20px;
    text-align: right;
    font-size: 0.5em;
}

.completedFlag
{
    display: none;
}

.priorityBrace
{
    display: none;
}

.priority
{
    font-weight: bold;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #59955C;
    text-shadow: 1px 1px 3px #000000;
    cursor: pointer;
}

.A
{
    color: #FF4848;
}

.B
{
    color: #9A03FE;
}

.C
{
    color: #2966B8;
}

.D
{
    color: #06DCFB;
}

.E
{
    color: #01F33E;
}

.message
{
    cursor: hand;
}

.createDate
{
    font-size: smaller;
    font-family: sans-serif;
}

.completedDate
{
    font-size: smaller;
    font-family: sans-serif;
}

.projectFlag
{
    margin-left: 0.3em;
    color: #9A03FE;
    cursor: pointer;
}

.project
{
    color: #9A03FE;
    font-family: sans-serif;
    font-size: 1.0em;
    cursor: pointer;
}

.contextFlag
{
    margin-left: 0.3em;
    color: #2966B8;
    cursor: pointer;
}

.context
{
    color: #2966B8;
    font-family: sans-serif;
    font-size: 1.0em;
    cursor: pointer;
}

.completed
{
    background-color: silver;
}

.hidden
{
    display: none;
}

.import
{
    width: 400px;
}

.uploadTarget
{
    display: table-cell;
    border: black dashed medium;
    vertical-align: middle;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;
    width: 380px;
    height: 200px;
}

.dragOver
{
    border-color: red;
    font-weight: bold;
}
