@charset "utf-8";

body
{
    color: #000000;
    background-color: #FDFFE8;
    font-size: 16pt;
}

h1
{
    clear: both;
}

label
{
    font-weight: bold;
    padding-right: 5px;
}

label:after
{
    content: ": ";
}

footer
{
    background-color: #FAFFB3;

    border-color: #F0FF33;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;

    text-align: center;
    font-size: 8pt;
    font-family: sans-serif;

    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.addTodo
{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    border-style: ridge;
    border-width: thin;
    border-color: black;
    background-color: #436f93;
    color:white;
    padding-left: 15px;
}

.addTodo > input
{
    width: 50%;
}


.filters
{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    border-style: ridge;
    border-width: thin;
    border-color: black;
    background-color: #436f93;
    color:white;
}

.filters > div
{
    font-size: small;
    clear: none;
    display: inline-block;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

div.quickFilter{
    width: 400px;
    float: right;
    text-align: right;
}

.quickFilter > input
{
    width: 300px;
    background-color: #6896BB;
    border-color: #436f93;
    margin-left: 5px;
}

.importButton, .exportButton
{
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    left: auto;
    bottom: auto;
    height: 20px;
    width: 110px;
    border-style: solid;
    border-color: #436f93;
    border-width: thin;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.exportButton
{
    position: absolute;
    right: 130px;
    top: 10px;
    left: auto;
    bottom: auto;
}

.importButton.selected
{
    background-color: #436f93;
    color: #FFFFFF;
}

.exportButton.selected
{
    background-color: #007100;
    color: #FFFFFF;
}

.importBox, .exportBox
{
    float: left;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 60%;
    height: 425px;
    z-index: 1000;
    background-color: #436f93;
    padding: 5px;
    text-align: right;
}

.exportBox
{
    background-color: #007100;
}

.importBox textarea, .exportBox textarea
{
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
}

.help
{
    color: #FFFFFF;
    font-size: small;
}

.importBox > .help:after
{
    content: " \2192";
}

.warning
{
    font-size: small;
    color: #FF8282;
    font-weight: bold;
}

.importBox button, .exportBox button
{
    height: 22px;
    margin-top: 3px;
    margin-right: 0;
}

.todos
{
    clear: both;
}

.todo
{
    border-style: groove;
    border-width: thin;
    border-color: #03419C;
    border-radius: 5px;
    background-color: #A2C6FD;
    padding: 3px;
    margin: 3px;
    margin-left: 15px;
    margin-right: 15px;
}

.ballotBox
{
    cursor: pointer;
    display: inline-block;
    width: 1em;
}

div.completed
{
    background-color: #C0C0C0;
}

.completed
{
    text-decoration: none;
}

.completedFlag
{
    color: #0F066A;
    display: none;
}

.completedDate
{
    color: #0F066A;
    font-size: smaller;
    margin-right: 0.2em;
}

.priority
{
    color: #006742;
    background-color: white;
    text-align: center;
    display: inline-block;
    width: 1.5em;
}

.priorityBrace
{
    color: #548ECA;
    display: none;
}

.contextFlag
{
    font-size: small;
    margin-left: 0.5em;
    color: #4E41D1;
}

.context
{
    color: #4E41D1;
}

.projectFlag
{
    color: #0D58A6;
    font-size: small;
    margin-left: 0.5em;
}

.project
{
    color: #0D58A6;
}

.message
{
    padding-left: 3px;
    padding-right: 3px;
}
