<div class="todo-formatted" [ngClass]='{ "item-completed": item.completed() }' ><!--
  --><i class="material-icons" *ngIf="!item.completed()">check_box_outline_blank</i><!--
  --><i class="material-icons" *ngIf="item.completed()">check_box</i><!--
  --><span *ngFor="#token of item.tokens()">
      <span [ngSwitch]="token.typeString()">
          <span *ngSwitchWhen="'text'" [ngClass]="token.typeString()">{{ token.text }}</span>
          <span *ngSwitchWhen="'createDate'" [ngClass]="token.typeString()">{{ token.text }}</span>
          <span *ngSwitchWhen="'completed'" [ngClass]="token.typeString()">{{ token.text }}</span>
          <span *ngSwitchWhen="'priority'" [ngClass]="token.typeString()">
              <span class="symbol">(</span><span class="text">{{ token.text }}</span><span class="symbol">)</span>
          </span>
            <span *ngSwitchWhen="'context'" [ngClass]="token.typeString()">
              <span class="symbol"><i class="material-icons">place</i></span><span
              class="text">{{ token.text }}</span>
          </span>
          <span *ngSwitchWhen="'project'" [ngClass]="token.typeString()">
              <span class="symbol"><i class="material-icons">folder</i></span><span
              class="text">{{ token.text }}</span>
          </span>
          <span *ngSwitchWhen="'metadata'"><!--
              --><span [ngSwitch]="token.id"><!--
                  --><span *ngSwitchWhen="'http'" [ngClass]="token.id" class="url"><!--
                      --><a href="{{ token.id + ':' + token.text }}" target="_top"><i class="material-icons">web</i></a><!--
                  --></span><!--
                  --><span *ngSwitchWhen="'https'" [ngClass]="token.id" class="url"><!--
                      --><a href="{{ token.id + ':' + token.text }}" target="_top"><i class="material-icons">web</i></a><!--
                  --></span><!--
                  --><span *ngSwitchWhen="'ftp'" [ngClass]="token.id" class="url"><!--
                      --><a href="{{ token.id + ':' + token.text }}" target="_top"><i class="material-icons">web</i></a><!--
                  --></span><!--
                  --><span *ngSwitchWhen="'due'" [ngClass]="token.typeString()" class="due"><!--
                      --><span class="key">&nbsp;<i class="material-icons">today</i>&nbsp;</span><!--
                      --><span class="value">{{ token.text }}</span><!--
                  --></span><!--
                  --><span *ngSwitchDefault [ngClass]="token.typeString()"><!--
                      --><span class="key"><i class="material-icons">turned_in_not</i>{{ token.id }}&nbsp;</span><!--
                      --><span class="value">{{ token.text }}</span><!--
                  --></span><!--
              --></span><!--
          --></span>
      </span>
  </span>
</div>