tr(class="todo-list-entry")
  td(class="left")
    i(class="material-icons action-icon") reorder
  td(class="main")&attributes({'[ngClass]': "{ 'item-completed': todo.complete() }"})
    todo-formatted&attributes({'[todo]': "todo"})
  td(class="right")
    i(class="material-icons action-icon") edit
    i(class="material-icons action-icon") delete
