tr(class="todo-list-entry")
  td(class="left")
    i(class="material-icons action-icon") reorder
  td(class="main")&attributes({'[ngClass]': "{ 'item-completed': todo.complete() }"})
    todo-formatted&attributes({'[todo]': "todo"})
  td(class="right")
    i(class="material-icons action-icon" title="Edit") edit
    i(class="material-icons action-icon delete" title="Delete")&attributes({"(click)":"remove()"}) delete
